body{
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}


/* ---------------------navbar----------------------- */

.navbar{
    min-width: 100%;
    min-height: 60px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Darker Grotesque', sans-serif;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: right;
}

li{
    list-style-type: none;
}

.nav a{
    color: #fcfcfc;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
}



.nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ea0e4b;
    left: 0;
    bottom: -10px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
}

.nav a:hover::after{
    transform: scale(1,1)
}

.logo{
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    color:#4da4a8;
}

.logoCaps{
    font-size: 1.8rem;
    color: #ea0e4b;
}


/* --------------------homepage---------------------- */
.homePage{
    background-image: url(images/home_page_img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 60vh;
    font-size: 50px;
    text-align: left;
    Color: rgba(255, 255, 255, 0.37);
    padding-top: 300px;
    padding-left: 10%;
}

.homePage p{
    margin: 0px;
    width: 280px;
    font-weight: 800;
}


/* ------------------------about page----------------- */
.aboutPage{
    min-height: 60vh;
    width: auto;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    color: rgba(255, 255, 255, 0.719);
    font-family: 'Darker Grotesque', sans-serif;
}

.aPcol1{
    font-size: 50px;
    text-align: right;
}

.aPcol1 p{
    padding-right: 50px;
    margin: 0px;
}

.aPcol2{
    text-align: left;
}

.aPcol2 p{
    padding-left: 50px;
    padding-right: 10%;
    line-height: 2rem;
    margin: 0px;
}


/* ---------------------------services---------------- */
.servicesPage{
    min-height: 60vh;
    width: auto;
    background-color: rgba(168, 168, 168, 0.541);
    background-image: linear-gradient(black,white,black);
}

.servicesPage h1{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #92140c;
}

.sPcols{
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    min-height: 60vh;
    padding: 2.5%;
}

.sPcols h1{
    padding-top: 15%;
}

.imgCont{
    max-width: 512px;
    max-height: 288px;
    margin: 10%;
    border-radius: 15px;
    background-size: cover;
}



/* -------------------------portfolio page------------- */
.portfolioPage{
    height: 60vh;
    width: auto;
    background-color: rgb(0, 0, 0);
}

/* ---------------------------contact page--------------*/
.contactPage{
    min-height: 20vh;
    width: auto;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    font-family: 'Darker Grotesque', sans-serif;
}

.gridBoxesC{
    padding: 0px;
    margin: 10px;
    text-align: center;
}

.contactPage h3{
    color:#ea0e4b;
}

.contactPage .fas{
    width: 10px;
    height: 20px;
    padding-right: 20px;
    text-align: left;
}

.contactPage p a{
    color:#aaaaaa;
    text-align: center; 
    text-decoration: none; 
    font-size: 18px;
}

.contactPage a:hover{
    color:rgb(255, 255, 255);
}

.newsletter{
    width: auto;
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
}

.newsletter h1{
    color:  #ea0e4b;
    margin: 0;
}

.newsletter p{
    font-size: 18px;
    margin: 0;
    color: #2a9d8f;
}

form{
    width: 50%;
    padding-left: 25%;
    padding-top: 10px;;
}

input{
    background-color: black;
    color: rgb(114, 114, 114);
    border-radius: 10px;
    border: 1px solid rgb(114, 114, 114);
    height: 30px;
    width: 75%;
    text-align: center;
}

button{
    background-color: black;
    color:#ea0e4b;
    width: auto;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ea0e4b;
    padding-left: 10px;
    margin-top: 10px;
}

button:hover{
    color:#ea0e4c8e;
    border: 1px solid #ea0e4c8e;
}
/* -----------------------footer---------------------- */

footer{
    min-height: 5vh;
    background-color: #000000fa;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    border-bottom: 0.5px solid #ea0e4c6e;
}

footer p{
    color: rgb(114, 114, 114);
    font-size: 16px;
    margin: 0px;
    padding-top: 20px;
}

.socialIcons ul{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.socialIcons ul li{
   list-style: none;
   margin: 0 15px;
}

.socialIcons ul li .fab{
    font-size: 18px;
    line-height: 36px;
    color: rgb(114, 114, 114);
 }



 .socialIcons ul li a:hover{
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ea0e4b;
    text-align: center;
    transition: 0.5s;
    transform: translate(0px, -5px);
 }





@media(max-width:620px){
    .sPcols {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .imgCont{
        margin: 10% 0 10% 5%;
    }

    footer{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .socialIcons ul{
        padding-left: 20%;
    }
  }