body{
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}


/* ---------------------navbar----------------------- */

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Darker Grotesque', sans-serif;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: right;
}

a{
    color: #fcfcfc;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* --------------------homepage---------------------- */
.homePage{
    background-image: url(images/home_page_img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 60vh;
    font-size: 50px;
    text-align: left;
    Color: rgba(255, 255, 255, 0.37);
    padding-top: 300px;
    padding-left: 10%;
}

.homePage p{
    margin: 0px;
    width: 280px;
}


/* ------------------------about page----------------- */
.aboutPage{
    height: 60vh;
    width: auto;
    background-color: rgb(0, 0, 0);
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    color: rgba(255, 255, 255, 0.719);
    font-family: 'Darker Grotesque', sans-serif;
}

.aPcol1{
    font-size: 50px;
    text-align: right;
}

.aPcol1 p{
    padding-right: 50px;
    margin: 0px;
}

.aPcol2{
    text-align: left;
}

.aPcol2 p{
    padding-left: 50px;
    padding-right: 10%;
    line-height: 2rem;
    margin: 0px;
}


/* ---------------------------services---------------- */
.servicesPage{
    height: 60vh;
    width: auto;
    background-color: rgb(255, 255, 255);
}

/* -------------------------portfolio page------------- */
.portfolioPage{
    height: 60vh;
    width: auto;
    background-color: rgb(0, 0, 0);
}

/* ---------------------------contact page--------------*/
.contactPage{
    min-height: 30vh;
    width: auto;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    padding-left: 10%;
    font-family: 'Darker Grotesque', sans-serif;
}

.gridBoxesC{
    padding: 0px;
    margin: 20px;
    text-align: left;
}


/* -----------------------footer---------------------- */

footer{
    height: 50px;
    background-color: #000000;
    text-align: center;
}

footer p{
    color: #ffffff;
    font-size: 15px;
    margin: 0px;
    padding-top: 20px;
}